.review-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ce93d8;
    max-width: 100%;
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    max-width: 100%;
  }
  
  .review-details {
    flex-grow: 1;
  }
  
  .review-text {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 16px;
  
  }
  
  .reviewer-name {
    color: #ce93d8;
    font-weight: bold;
    font-size: 15px;
  }

  /* Apply styles for screen sizes smaller than 768px (mobile devices) */
@media (max-width: 768px) {
    .profile-pic-container {
      display: none; /* Hide the profile picture container */
    }
    .profile-pic{
        display: none;
    }
    .review-details {
      width: 100%; /* Set the width to 100% to fill the entire container */
    }
  }
